.coaches {
  max-width: 1366px;
  margin: 0 auto;
  margin-bottom: 120px;
  padding: 0 103px;

  @media (max-width: $tablet-width) {
    margin-bottom: 100px;
    padding: 0 101px;
    max-width: 768px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 70px;
    padding: 0 47px;
    max-width: 320px;
  }
}

.coaches h2 {
  font-family: $ff-bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 52px;

  @media (max-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 42px;
  }
}

.coaches__slider {
  position: relative;
}

.coaches__wrapper {
  display: flex;
  width: 100%;
}

.coaches__list {
  padding: 0;
  display: flex;
  position: relative;
  max-width: 1160px;

  @media (max-width: $tablet-width) {
    min-width: 566px;
  }

  @media (max-width: $mobile-width) {
    min-width: 226px;
  }
}

.coaches__card {
  width: 260px;
  height: 294px;
  position: relative;

  &:hover,
  &:focus {
    h3 {
      display: none;
    }

    .coaches__info {
      display: block;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    width: 268px;
    margin-right: 30px;
  }

  @media (max-width: $mobile-width) {
    width: 226px;
    height: 274px;
    margin-right: 0;
  }
}

.coaches h3 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 22px;
  z-index: 2;
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
  color: $color-default-white;
  width: 172px;
  text-align: center;

  @media (max-width: $tablet-width) {
    bottom: 21px;
    left: 51%;
  }
}

.coaches img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-grey;
}

.coaches__info {
  display: none;
  width: 100%;
  height: 100%;
  padding: 52px 42px 58px 56px;
  background-color: rgba(16, 38, 84, 0.89);
  position: absolute;
  z-index: 3;

  @media (max-width: $tablet-width) {
    padding: 54px 49px 54px 56px;
  }

  @media (max-width: $mobile-width) {
    padding: 44px 24px 40px 39px;
  }
}

.coaches__info p {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $color-default-white;
  white-space: nowrap;
  letter-spacing: -0.09em;

  @media (max-width: $mobile-width) {
    line-height: 22px;
  }
}

.coaches__info span {
  display: block;
  margin: 0;
  margin-bottom: 32px;
  color: $color-spindle;
  text-align: center;
  padding-right: 8px;

  @media (max-width: $tablet-width) {
    font-size: 14px;
    line-height: 19px;
    padding-right: 17px;
    margin-bottom: 35px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 18px;
    letter-spacing: -0.06em;
  }
}

.coaches__info ul {
  list-style: disc;
  margin: 0;
  padding: 0;
  padding-left: 14px;

  @media (max-width: $mobile-width) {
    padding-left: 9px;
  }
}

.coaches__info li {
  font-size: 13px;
  line-height: 21px;
  color: $color-default-white;
  margin-bottom: 13px;
}

.coaches__button {
  width: 16px;
  height: 32px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  bottom: 132px;

  &--previous {
    left: -57px;
  }

  &--next {
    right: -55px;
  }

  @media (max-width: $mobile-width) {
    bottom: 118px;

    &--previous {
      left: -37px;
    }

    &--next {
      right: -33px;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
