.footer {
  background-color: $color-black-russian;
  color: $color-default-white;
  width: 100%;
  min-height: 108px;

  @media (max-width: $tablet-width) {
    min-height: 114px;
  }

  @media (max-width: $mobile-width) {
    min-height: 260px;
  }
}

.footer__wrapper {
  padding: 41px 0;
  display: grid;
  grid-template-columns: min-content 1fr min-content;

  @media (max-width: $tablet-width) {
    padding: 45px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 46px 0;
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.footer__logo {
  align-self: center;

  @media (max-width: $tablet-width) {
    align-self: start;
    padding-top: 2px;
  }

  @media (max-width: $mobile-width) {
    position: absolute;
    top: 48px;
  }
}

.footer__nav {
  padding-bottom: 6px;
  padding-left: 52px;
  align-self: center;

  @media (max-width: $tablet-width) {
    padding-left: 40px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    align-self: start;
  }
}

.footer__social {
  align-self: center;

  @media (max-width: $mobile-width) {
    align-self: start;
  }
}
