.gym {
  margin-bottom: 80px;
}

.gym__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr max-content;
}

.gym__info {
  padding: 50px 85px 50px 60px;
}

.gym__info h2 {
  font-family: $ff-bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: -0.03em;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.gym__info span {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 55px;
}

.gym__info p {
  font-family: $ff-roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.gym__video {
  position: absolute;
  top: 287px;
  left: 38%;
  z-index: 5;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: rgba(20, 54, 122, 0.5);
  }
}
