.header {
  width: 100%;
  min-height: 658px;
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
  margin-bottom: 121px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
}

.header__top {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.header__phone {
  font-family: $ff-bebas;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: $color-default-white;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.header__main {
  margin: 0;
  display: flex;
  padding-top: 51px;
}

.header__description {
  position: relative;
  color: $color-default-white;
  text-align: right;
  margin-right: 64px;
}

.header__description p {
  font-family: $ff-bebas;
  font-size: 49px;
  line-height: 59px;
  letter-spacing: -0.03em;
  margin: 113px 0 2px;
  text-transform: uppercase;
}

.header__description h1 {
  font-family: $ff-bebas;
  margin: 0;
  margin-bottom: 60px;
  font-size: 109px;
  line-height: 109px;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    font-size: 78px;
    line-height: 78px;
  }
}

.header__description ul {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  position: absolute;
  margin: 0;
  bottom: 212px;

}

.header__description a {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: $color-default-white;
  width: 230px;
  text-align: center;
  border: 4px solid $color-default-white;
  padding: 19px 10px;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-sapphire;
  }
}

.header img {
  max-width: 500px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.header__social {
  list-style: none;
  text-transform: uppercase;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: 45px;
  margin-left: 186px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__social li {
  margin-bottom: 24px;
}

.header__social a {
  color: $color-default-white;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 24px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
