.nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    padding: 0;
    margin: 0;
    display: block;
    column-count: 2;
    margin-bottom: 21px;
  }
}

.nav li {
  margin-right: 40px;

  @media (max-width: $tablet-width) {
    margin-right: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 15px;
    display: block;

    &:first-child {
      margin-top: 40px;
    }
  }
}

.nav a {
  font-size: 13px;
  line-height: 16px;
  color: $color-default-white;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 19px;
  }
}
