.promo {
  margin-bottom: 117px;

  @media (max-width: $tablet-width) {
    margin-bottom: 99px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 70px;
  }
}

.promo__wrapper {
  display: flex;
  width: 100%;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.promo__info {
  background-color: $color-torch-red;
  color: $color-default-white;
  padding: 7% 6.8%;

  @media (max-width: 1330px) {
    padding: 5%;
  }

  @media (max-width: $tablet-width) {
    padding: 47px 45px;
    position: relative;
  }

  @media (max-width: $mobile-width) {
    padding: 47px 43px 50px;
  }
}

.promo__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
  max-width: 343px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.promo__title h2 {
  font-family: $ff-bebas;
  font-size: 90px;
  line-height: 91px;
  letter-spacing: 0.03em;
  margin: 0;
  min-width: 210px;

  @media (max-width: $tablet-width) {
    font-size: 52px;
    line-height: 52px;
    min-width: 145px;
  }
}

.promo__inner {
  width: 93px;
  padding-right: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    width: 56px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 0;
  }
}

.promo__inner h3 {
  font-size: 17px;
  line-height: 27px;
  margin: 0;
  padding-bottom: 3px;
  letter-spacing: 0.05em;

  @media (max-width: $tablet-width) {
    font-size: 12px;
    line-height: 18px;
    padding: 0;
  }
}

.promo__data {
  display: flex;
  width: 70px;
  padding-top: 7px;
  border-top: 1px solid $color-default-white;

  @media (max-width: $tablet-width) {
    width: 42px;
    padding-top: 0;
  }

  @media (max-width: $mobile-width) {
    width: 53px;
  }
}

.promo__number {
  font-weight: 700;
  font-size: 37px;
  line-height: 36px;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }
}

.promo__month {
  margin: 0;
  margin-left: 9px;
  font-size: 14px;
  line-height: 17px;

  @media (max-width: $tablet-width) {
    font-size: 10px;
    line-height: 15px;
    margin: 1px 0 0 2px;
  }
}

.promo__time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75px;
  margin-bottom: 18px;

  @media (max-width: $tablet-width) {
    height: 51px;
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    justify-content: flex-start;
  }
}

.promo__time h3 {
  padding-bottom: 0;
  padding-top: 5px;
}

.promo__time .promo__number {
  padding-top: 7px;
  border-top: 1px solid $color-default-white;
  line-height: 31px;
  letter-spacing: 0.05em;

  @media (max-width: $tablet-width) {
    padding: 0;
    padding-top: 1px;
  }

  @media (max-width: $mobile-width) {
    font-size: 22px;
    line-height: 26px;
  }
}

.promo__text {
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  margin-bottom: 45px;
  letter-spacing: 0.01em;

  @media (max-width: $tablet-width) {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.promo a {
  display: block;
  max-width: 344px;
  width: 100%;
  padding: 24px 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  border: 4px solid $color-default-white;
  text-align: center;
  user-select: none;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-torch-red;
  }

  @media (max-width: $tablet-width) {
    min-width: 202px;
    padding: 14px 10px 11px;
    font-size: 10px;
    line-height: 12px;
    border: 2px solid $color-default-white;
    position: absolute;
    bottom: 50px;
    width: 202px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    max-width: none;
    position: static;
  }
}

.promo img {
  max-width: 660px;
  width: 100%;
  object-fit: cover;

  @media (max-width: $tablet-width) {
    min-width: 386px;
    max-width: none;
  }

  @media (max-width: $mobile-width) {
    min-width: 290px;
  }
}
