.social {
  display: grid;
  grid-template-columns: 32px 24px 24px;
  gap: 14px;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    grid-template-columns: 22px 22px 22px;
    gap: 16px;
  }

  @media (max-width: $mobile-width) {
    gap: 32px;
    grid-template-columns: 32px 32px 25px;
  }
}

.social__link {
  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.social svg {
  @media (max-width: $mobile-width) {
    width: 31px;
    height: 25px;
  }
}

.social__link--facebook {
  padding-left: 11px;

  @media (max-width: $tablet-width) {
    padding-left: 9px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;

    svg {
      padding-right: 15px;
    }
  }
}
