.toggle {
  width: 16px;
  height: 32px;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
/*
  &--previous {
    // margin-right: 24px;
    left: -55px;
    top: 50%;
    transform: translateY(-50%);
  }

  &--next {
    margin-left: 24px;
  }
/*
  @media (max-width: $mobile-width) {
    width: 10px;
    height: 19px;

    &--previous {
      margin-right: 22px;
    }

    &--next {
      margin-left: 22px;
    }
  } */
}
